fastapi
python-multipart
uvicorn
jinja2

langchain>=0.2.0
langchain-chroma>=0.1.2
langchain-huggingface
chromadb
langchain_core
langchain-community
langchain-text-splitters
sentence-transformersd
huggingface_hub
python-dotenv
pypdf
torch
transformers
ragas
